<footer>
    <div class="foot-cont">
        <ul class="link-lists">
            <li><a href="">개인정보처리방침</a></li>
            <li><a href="">이용약관</a></li>
            <li><a href="">상담신청</a></li>
            <li><a href="">오시는 길</a></li>
            <li><a href="">수강료안내</a></li>
        </ul>
        <div class="foot-bottom">
            <div class="box">
                <p class="tit">COMPANY INFO</p>
                <div class="desc">
                    <p>사업자등록번호 : 411-86-01746 | 대표 : 이창용</p>
                    <p>학원명 : 아시아캣뷰티미용학원</p>
                    <p>서울특별시 강남구 학동로 46길 23 (논현동) AMF GLOBAL 3F</p>
                </div>
                <p class="copy">© 2021 AMF Global. All rights reserved.</p>
            </div>
            <div class="box">
                <p class="tit">CS CENTER</p>
                <p class="call">1588-1111</p>
                <p class="time">이용시간 : 평일 09:00~18:00</p>
            </div>
            <div class="box">
                <div class="dropdown">
                    <button type="button" class="btn-toggle"><span>지점안내</span></button>
                    <ul class="lists">
                        <li><a href="" target="_blank">영등포지점</a></li>
                        <li><a href="" target="_blank">평택지점</a></li>
                        <li><a href="" target="_blank">천안지점</a></li>
                    </ul>
                </div>
                <ul class="sns-lists">
                    <li><a href="" target="_blank" class="sns01"><span class="blind">인스타그램</span></a></li>
                    <li><a href="" target="_blank" class="sns02"><span class="blind">유튜브</span></a></li>
                    <li><a href="" target="_blank" class="sns03"><span class="blind">페이스북</span></a></li>
                    <li><a href="" target="_blank" class="sns04"><span class="blind">네이버블로그</span></a></li>
                    <li><a href="" target="_blank" class="sns05"><span class="blind">카카오채널</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>