<header@@if(context.main){ class="main"}>
    <div class="head-top">
        <h1 class="logo"><a href="/"><span class="blind">아시아캣뷰티아카데미</span></a></h1>
        <p class="spots">아시아캣뷰티 지점 : 강남/평등포/평택/천안</p>
        <button type="button" class="menu-all"><span class="bar"></span><span class="txt">전체메뉴</span></button>
    </div>
    <div class="head-cont">
        <nav id="gnb">
            <ul>
                <li>
                    <a href="/page/sub_01_01.html"@@if(context.cate01){ class="active"}>아시아캣뷰티</a>
                    <ul class="depth2">
                        <li><a href="/page/sub_01_01.html">아카데미 소개</a></li>
                        <li><a href="/page/sub_01_02.html">히스토리</a></li>
                        <li><a href="/page/dev_01_01.html">강사소개</a></li>
                        <li><a href="/page/sub_01_04.html">교육시설안내</a></li>
                        <li><a href="/page/sub_01_05.html">제휴 및 협력사</a></li>
                        <li><a href="/page/sub_01_06.html">아시아캣 지점</a></li>
                        <li><a href="/page/sub_01_07.html">오시는 길</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub_02_01.html"@@if(context.cate02){ class="active"}>교육과정</a>
                    <ul class="depth2">
                        <li><a href="/page/sub_02_01.html">메이크업</a></li>
                        <li><a href="/page/sub_02_02.html">네일아트</a></li>
                        <li><a href="/page/sub_02_03.html">스킨케어</a></li>
                        <li><a href="/page/sub_02_04.html">헤어디자인</a></li>
                        <li><a href="/page/sub_02_05.html">대학입시반</a></li>
                        <li><a href="/page/sub_02_06.html">스타일리스트</a></li>
                        <li><a href="/page/sub_02_07.html">스페셜과정</a></li>
                        <li><a href="/page/sub_02_08.html">단과과정</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub_03_01.html"@@if(context.cate03){ class="active"}>자격증</a>
                    <ul class="depth2">
                        <li><a href="/page/sub_03_01.html">헤어디자인</a></li>
                        <li><a href="/page/sub_03_02.html">메이크업</a></li>
                        <li><a href="/page/sub_03_03.html">스킨케어</a></li>
                        <li><a href="/page/sub_03_04.html">네일아트</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub_04_01.html"@@if(context.cate04){ class="active"}>커뮤니티</a>
                    <ul class="depth2">
                        <li><a href="/page/dev_02_01.html">공지사항</a></li>
                        <li><a href="/page/dev_02_02.html">이벤트</a></li>
                        <li><a href="/page/dev_02_03.html">뉴스/언론</a></li>
                        <li><a href="/page/dev_02_04.html">수강인터뷰</a></li>
                        <li><a href="/page/dev_02_05.html">수강후기</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub_05_01.html"@@if(context.cate05){ class="active"}>현장스토리</a>
                    <ul class="depth2">
                        <li><a href="/page/dev_03_01.html">출품작</a></li>
                        <li><a href="/page/dev_03_02.html">수업현장</a></li>
                        <li><a href="/page/dev_03_03.html">현장실습</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub_06_01.html"@@if(context.cate06){ class="active"}>취업&middot;창업과정</a>
                    <ul class="depth2">
                        <li><a href="/page/dev_04_01.html">취업정보</a></li>
                        <li><a href="/page/dev_04_02.html">취업현황</a></li>
                        <li><a href="/page/dev_04_03.html">창업컨설팅</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub_07_01.html"@@if(context.cate07){ class="active"}>고객센터</a>
                    <ul class="depth2">
                        <li><a href="/page/dev_05_01.html">수강료 조회</a></li>
                        <li><a href="/page/dev_05_02.html">재료비 조회</a></li>
                        <li><a href="/page/dev_05_03.html">상담신청</a></li>
                        <li><a href="/page/dev_05_04.html">국비상담신청</a></li>
                        <li><a href="/page/dev_05_05.html">자주찾는 질문</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <button type="button" class="btn-menu-all" aria-label="전체메뉴 보기"><span class="bar"></span></button>
    <div class="gnb-all">
        <nav>
            <ul>
                <li>
                    <button type="button" class="dep1-more"><span>아시아캣뷰티</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub_01_01.html">아카데미 소개</a></li>
                        <li><a href="/page/sub_01_02.html">히스토리</a></li>
                        <li><a href="/page/dev_01_01.html">강사소개</a></li>
                        <li><a href="/page/sub_01_04.html">교육시설안내</a></li>
                        <li><a href="/page/sub_01_05.html">제휴 및 협력사</a></li>
                        <li><a href="/page/sub_01_06.html">아시아캣 지점</a></li>
                        <li><a href="/page/sub_01_07.html">오시는 길</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="dep1-more"><span>교육과정</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub_02_01.html">메이크업</a></li>
                        <li><a href="/page/sub_02_02.html">네일아트</a></li>
                        <li><a href="/page/sub_02_03.html">스킨케어</a></li>
                        <li><a href="/page/sub_02_04.html">헤어디자인</a></li>
                        <li><a href="/page/sub_02_05.html">대학입시반</a></li>
                        <li><a href="/page/sub_02_06.html">스타일리스트</a></li>
                        <li><a href="/page/sub_02_07.html">스페셜과정</a></li>
                        <li><a href="/page/sub_02_08.html">단과과정</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="dep1-more"><span>자격증</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub_03_01.html">헤어디자인</a></li>
                        <li><a href="/page/sub_03_02.html">메이크업</a></li>
                        <li><a href="/page/sub_03_03.html">스킨케어</a></li>
                        <li><a href="/page/sub_03_04.html">네일아트</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="dep1-more"><span>커뮤니티</span></button>
                    <ul class="depth2">
                        <li><a href="/page/dev_02_01.html">공지사항</a></li>
                        <li><a href="/page/dev_02_02.html">이벤트</a></li>
                        <li><a href="/page/dev_02_03.html">뉴스/언론</a></li>
                        <li><a href="/page/dev_02_04.html">수강인터뷰</a></li>
                        <li><a href="/page/dev_02_05.html">수강후기</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="dep1-more"><span>현장스토리</span></button>
                    <ul class="depth2">
                        <li><a href="/page/dev_03_01.html">출품작</a></li>
                        <li><a href="/page/dev_03_02.html">수업현장</a></li>
                        <li><a href="/page/dev_03_03.html">현장실습</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="dep1-more"><span>취업&middot;창업과정</span></button>
                    <ul class="depth2">
                        <li><a href="/page/dev_04_01.html">취업정보</a></li>
                        <li><a href="/page/dev_04_02.html">취업현황</a></li>
                        <li><a href="/page/dev_04_03.html">창업컨설팅</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="dep1-more"><span>고객센터</span></button>
                    <ul class="depth2">
                        <li><a href="/page/dev_05_01.html">수강료 조회</a></li>
                        <li><a href="/page/dev_05_02.html">재료비 조회</a></li>
                        <li><a href="/page/dev_05_03.html">상담신청</a></li>
                        <li><a href="/page/dev_05_04.html">국비상담신청</a></li>
                        <li><a href="/page/dev_05_05.html">자주찾는 질문</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>